* {
    margin: 0;
    padding: 0;
}

.Anime {
    position: relative;
}

.Anime__lists {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
    margin: 0;
}

.Anime__sidebar {
    flex-basis: 30%;
    min-height: 100vh;
}

.Anime__bg {
    height: 200px;
    flex-basis: 170px;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}


.Fold__bg {
    height: 120vh;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.Anime__list {
    display: flex;
    flex-basis: calc(100% / 3 - 20px);
    list-style: none;
    margin: 20px 20px 0 0;
    position: relative;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.Anime__list:nth-of-type(-n+3) {
    margin-top: 0;
}

.Anime__list:nth-of-type(3n + 3) {
    margin-right: 0;
}

.Anime__listImage {
    max-width: 100%;
    width: 100%;
    display: block;
}

.Anime__title {
    font-size: 18px;
    font-weight: 800;
}

.Anime__link {
    display: block;
    position: relative;
}

.Anime__link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: .4;
}

.Anime__episodes {
    padding: 0;
}

.Anime__details {
    padding: 20px;
    flex-basis: calc(100% - 150px);
}

iframe {
    width: 100%;
    height: 600px;
}

.Wrapper {
    padding: 0 20px;
    position: relative;
    overflow: hidden;
}

.Nav {
    background-color: #fff;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}